@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap);

:root {
  --header-height: 2.78em;
  /* Colors */
  --primary-color: #ff7101;
  --black-color: #1f1f1f;
  --white-color: #ffffff;
  /* Fonts */
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Poppins', sans-serif;

  /* Font-Sizes */
  --big-font-size: 2rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/* CSS Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-body);
  font-size: var(--normal-font-size);
  color: var(--black-color);

  overflow-x: hidden;
  /* background-color: var(--black-color); */
}

.button {
  display: inline-block;
  font-family: var(--font-title);
  border: 1px solid var(--white-color);
  padding: 1em 1.5em;
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: 800;
  letter-spacing: 0.125em;
  align-items: center;
  justify-content: center;
  border-radius: 1.8dem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Header */

header {
  height: var(--header-height);
  background-color: var(--black-color);
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 0 10vw;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: var(--h1-font-size);
}

.fit {
  color: var(--primary-color);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3em;
}

.nav__link {
  text-transform: lowercase;
  font-weight: 300;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  padding-bottom: 0.5em;
  transition: 0.1s ease-in-out;
  letter-spacing: 0.1em;
}

.nav__link:hover,
.active {
  border-bottom: 2px solid var(--primary-color);
}

.nav__toggle {
  display: none;
}

#burger-menu {
  aspect-ratio: 1 / 1;
  width: 1.4em;
  text-align: center;
}

/* Media Queries */

@media (max-width: 945px) {
  header {
    padding-inline: 5vw;
  }

  .nav {
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 10;
    transition: 0.1s ease-in-out;
    padding-top: var(--header-height);
  }

  .show__menu {
    width: 60%;
  }

  .nav__menu {
    display: block;
    text-align: center;
  }

  .nav__menu li {
    width: 100%;
    padding: 1.5em 0;
    margin-left: 0;
  }

  .nav__link {
    font-size: var(--h3-font-size);
  }

  .nav__toggle {
    display: block;
    z-index: 10;
  }

  .nav__toggle i {
    font-size: var(--big-font-size);
    color: var(--white-color);
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }

  .nav__toggle:hover {
    color: var(--primary-color);
  }
}
