:root {
  --header-height: 3.5em;
  /* Colors */
  --primary-color: rgb(255, 113, 1);
  --black-color: #1f1f1f;
  --white-color: #ffffff;
  /* Fonts */
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Poppins', sans-serif;

  /* Font-Sizes */
  --desktop-title: 3.5rem;
  --mobile-title: 2rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;

  /* Transitions */
  --transition-fast: all 0.1s ease-in-out;
  --transition-normal: all 0.5s ease-in-out;
  --transition-slow: all 1s ease-in-out;
}

/* CSS Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark light;
}

body {
  position: relative;
  font-family: var(--font-body);
  font-size: var(--normal-font-size);
  color: var(--black-color);
  padding-top: var(--header-height);

  overflow-x: hidden;
}

button {
  display: inline-block;
  border: 1px solid var(--white-color);
  padding: 0.5em 2em;
  color: var(--black-color);
  font-family: var(--font-title);
  font-size: var(--normal-font-size);
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: var(--transition-fast);
  text-transform: uppercase;
  background-color: var(--white-color);
}

button:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Header */

header {
  height: var(--header-height);
  background-color: var(--black-color);
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 0 8vw;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: var(--h1-font-size);
}

.company__name {
  letter-spacing: 1.5px;
}

.fit {
  color: var(--primary-color);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3em;
}

.nav__link {
  text-transform: lowercase;
  font-weight: 300;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  padding-bottom: 1.5px;
  transition: var(--transition-fast);
  letter-spacing: 1.5px;
}

.nav__link:not(.active):hover {
  border-bottom: 2px solid rgba(255, 113, 1, 0.5);
}

.active {
  border-bottom: 2px solid var(--primary-color);
}

.nav__toggle {
  display: none;
}

#burger-menu {
  --menu-size: 1.5em;
  /*  */
  aspect-ratio: 1 / 1;
  width: var(--menu-size);
  font-size: var(--menu-size);
  text-align: center;
}

/* Home */
.sliding__background {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 94vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2em 9%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: relative;
  overflow: hidden;
}

.background__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-position: center;
  background-size: cover;
}

.bg-image.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: rgba(255, 113, 1, 0.3);
  opacity: 0.5;
}

.content {
  text-transform: lowercase;
  width: 60em;
  transform: translateY(-5em);
  color: var(--white-color);
}

.section__title {
  position: relative;
  font-size: var(--desktop-title);
  margin-bottom: 1em;
  line-height: 1.3;
}

.section__title::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  background: url(/assets/images/slashes.png);
  background-size: cover;
  aspect-ratio: 1 / 1;
  width: 130px;
  z-index: -1;
  transform: rotateX(20deg);
}

.section__header {
  font-weight: normal;
  margin-bottom: 1em;
}

.home p {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
}

.header__text {
  font-size: 2rem;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  header {
    padding-inline: 5vw;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--black-color);
    z-index: 10;
    transition: 0.1s ease-in-out;
    padding-top: var(--header-height);
  }

  .show__menu {
    width: 60%;
  }

  .nav__menu {
    display: block;
    text-align: center;
  }

  .nav__menu li {
    width: 100%;
    padding: 1.5em 0;
    margin-left: 0;
  }

  .nav__link {
    font-size: var(--h3-font-size);
  }

  .nav__toggle {
    display: block;
    z-index: 10;
  }

  .nav__toggle i {
    font-size: var(--desktop-title);
    color: var(--white-color);
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }

  .nav__toggle:hover {
    color: var(--primary-color);
  }

  .section__title {
    font-size: var(--mobile-title);
  }
}
