:root {
  --header-height: 3.5em;
  /* Colors */
  --primary-color: 255, 90, 79;
  --black-color: #1f1f1f;
  --white-color: #ffffff;
  /* Fonts */
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Poppins', sans-serif;

  /* Font-Sizes */
  --desktop-title: 3.5rem;
  --mobile-title: 2.5rem;
  --h1-font-size: 2.5em;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;

  /* Transitions */
  --transition-fast: all 0.1s ease-in-out;
  --transition-normal: all 0.5s ease-in-out;
  --transition-slow: all 1s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-body);
  font-size: var(--normal-font-size);
  color: var(--black-color);
  padding-top: var(--header-height);
  background: #121212;
  color: white;

  overflow-x: hidden;
}

button {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--font-title);
  font-size: var(--normal-font-size);
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0.8em 2em;
  background-color: rgba(var(--primary-color), 1);
  cursor: pointer;
  transition: var(--transition-fast);
}

button:hover {
  color: rgba(var(--primary-color), 1);
  background-color: var(--white-color);
}

/* Header */

header {
  height: var(--header-height);
  background-color: var(--black-color);
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 0 8vw;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: var(--h3-font-size);
}

.company__name {
  letter-spacing: 1.5px;
}

.fit {
  color: rgba(var(--primary-color), 1);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3em;
}

.nav__link {
  text-transform: lowercase;
  font-weight: 300;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  padding-bottom: 1.5px;
  transition: var(--transition-fast);
  letter-spacing: 1.5px;
}

.nav__link:not(.active):hover {
  border-bottom: 2px solid rgba(var(--primary-color), 0.5);
}

.active {
  border-bottom: 2px solid rgba(var(--primary-color), 1);
}

.nav__toggle {
  display: none;
}

#burger__menu {
  --menu-size: 1.5em;
  /*  */
  aspect-ratio: 1 / 1;
  width: var(--menu-size);
  font-size: var(--menu-size);
  text-align: center;
}

/* ! Header */

/* Home */
#sliding__background {
  display: flex;
  align-items: center;
  height: 94vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding: 2em 9% 0;
  background-size: cover !important;
}

#sliding__background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: rgba(var(--primary-color), 0.3);
  opacity: 0.5;
}

.content {
  text-transform: lowercase;
  width: 50em;
  transform: translateY(-5em);
  color: var(--white-color);
}

.section__title {
  position: relative;
  font-size: var(--desktop-title);
  margin-bottom: 1em;
  line-height: 1.3;
  color: white;
}

.section__title::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  background: url(/assets/images/slashes.png);
  background-size: cover;
  aspect-ratio: 1 / 1;
  width: 130px;
  z-index: -1;
  transform: rotateX(20deg);
  filter: hue-rotate(-30deg);
}

.section__header {
  font-size: var(--h3-font-size);
  font-weight: normal;
  margin-bottom: 0.5em;
  color: white;
}

.home p {
  color: var(--white-color);
  margin-bottom: 2em;
  color: rgb(217, 217, 217);
}

.header__text {
  font-size: 2rem;
}

/* ! Home */

/* About */

.about {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  height: 80vh;
  padding: var(--header-height) 2em 0 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.about__container .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.about__container .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

.about__container .left img:nth-child(2) {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.about__container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about__paragraph {
  color: white;
  line-height: 1.6;
  padding-inline: 1em;
  margin-bottom: 2em;
}

/* ! About */

/* Courses */

.courses__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background: url(/assets/images/courses-background.png) no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.courses__content {
  max-width: 1200px;
  padding: var(--header-height) 2em;
  z-index: 2;
}

.courses__content .section__title {
  margin-bottom: 0.5em;
}

.courses__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.courses__list .course {
  aspect-ratio: 3 / 2;
  width: 300px;
  margin-top: 2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.courses__list .course img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses__list .course .course__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-color), 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.courses__list .course:hover .course__info {
  transform: translate(-50%, -50%) scale(1);
}

/* ! Courses */

/* Trainors */
.trainor {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--header-height) 2em;
}

.trainor__container {
  width: 100%;
  min-height: 100vh;
  padding-top: 2em;
}

.trainor__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1em;
}

.trainor__card > img {
  aspect-ratio: 2 / 3;
  height: 500px;
  cursor: pointer;
  filter: grayscale(1);
  transition: var(--transition-fast);
}

.trainor__card > img:hover {
  filter: grayscale(0);
}

.trainor__card {
  margin-block: 1em;
  position: relative;
}

.trainor__card::after {
  content: '';
  position: absolute;
  background-color: rgba(var(--primary-color), 1);
  height: 100px;
  width: 100px;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.trainor__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.trainor__title {
  flex-grow: 1;
}

.trainor__title hr {
  border: 1px solid rgba(var(--primary-color), 1);
}

.inner {
  padding-inline: 1em;
}

.inner > a {
  color: white;
  font-size: 1.5rem;
  margin-inline: 0.1em;
  cursor: pointer;
}

.inner > a:hover {
  color: rgba(var(--primary-color), 1);
}

/* ! Trainors */

/* Contact */
.footer__nav {
  list-style-type: none;
  display: flex;
  gap: 2.3em;
  margin-block: 2em;
}

.footer__nav a {
  color: white;
}

.footer {
  background: url(/assets/images/contact-background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__container {
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  z-index: 2;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.contact__container .logo {
  font-size: 3em;
  position: relative;
}

.contact__container h3 {
  letter-spacing: 2px;
}

.contact__container .logo::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -20px;
  background: url(/assets/images/slashes.png);
  background-size: cover;
  aspect-ratio: 1 / 1;
  width: 50px;
  z-index: 2;
  transform: rotateX(180deg);
  filter: hue-rotate(-30deg);
}

.subscription__container input {
  width: 25em;
  height: 3em;
  padding: 0.4em 0.8em;
  background-color: transparent;
  border: 2px solid var(--white-color);
  border-radius: 5px;
  font-family: var(--font-body);
  color: white;
  margin-bottom: 0.5em;
}

.subscription__container form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

/* ! Contact */
/* Media Queries */

@media only screen and (max-width: 768px) {
  header {
    padding-inline: 5vw;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--black-color);
    z-index: 10;
    transition: 0.1s ease-in-out;
    padding-top: var(--header-height);
  }

  .show__menu {
    width: 60%;
  }

  .nav__menu {
    display: block;
    text-align: center;
  }

  .nav__menu li {
    width: 100%;
    padding: 1.5em 0;
    margin-left: 0;
  }

  .nav__link {
    font-size: var(--h3-font-size);
  }

  .nav__toggle {
    display: block;
    z-index: 10;
  }

  .nav__toggle i {
    font-size: var(--desktop-title);
    color: var(--white-color);
    padding: 5px;
    border: 1px solid rgba(var(--primary-color), 1);
    border-radius: 5px;
    cursor: pointer;
  }

  .nav__toggle:hover {
    color: rgba(var(--primary-color), 1);
  }

  .section__title {
    font-size: var(--mobile-title);
  }

  #sliding__background {
    background-position: center;
    clip-path: unset;
  }

  .about__container {
    grid-template-columns: unset;
    padding: var(--header-height) 9% 0 9%;
  }

  .about__container .left {
    display: none;
  }

  .about__paragraph {
    padding-inline: 0.5em;
  }

  .courses__list .course {
    width: 80%;
  }

  .courses__list {
    display: flex;
  }

  .courses__content {
    padding-block: 5em;
  }

  .courses__container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .trainor__box {
    flex-direction: column;
  }
}

/* ! Media Queries */
