:root {
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --primary-color: 255, 90, 79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  outline: none;
  text-decoration: none;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 2em;
  min-width: 400px;
  min-height: 450px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 2.5rem;
}

.company__name {
  letter-spacing: 1.5px;
}

.fit {
  color: rgba(var(--primary-color), 1);
}

body {
  background: #121212;
}

h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1em;
  color: rgba(var(--primary-color), 1);
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
}

.first__input {
  margin-bottom: 20px;
}

input:focus {
  border: 2px solid rgba(var(--primary-color), 1);
}

label {
  color: #888;
  font-size: 1rem;
  padding: 10px;
}

button {
  float: right;
  background: rgba(var(--primary-color), 1);
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}
button:hover {
  opacity: 0.7;
}
.error {
  background: #f2dede;
  color: #2b2020;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #d4edda;
  color: #40754c;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
}

.ca {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}
.ca:hover {
  text-decoration: underline rgba(var(--primary-color), 1) 2px;
}
